<section id="money_value" class="inner_section">
  <div class="container">
      <h2 class="section_title">The Value of money</h2>
      <div class="money_value_inner">
          <figure>
              <img src="img/Image-2.png" alt="" />
          </figure>
          <div class="money_detail">
              <p>
                  Value of money is really important for our financial systems. The value of money has been
                  changing from time to time
                  depending condition of the country which depends on the
                  inflation and deflation.
              </p>
              <p>
                  As always said, money is the reason behind a person
                  happiness and sadness. Without money a person cannot live comfortably. Money provide us food and
                  shelter. Without money a person would not be able to get education and
                  without education it is difficult to earn money these days.
              </p>
              <p>
                  Saving money is really important and for that we need to invest on multiple things and always
                  keep accounts of
                  spendings. Saving money means securing future.
              </p>
              <p>
                  Nowadays, people value people according to their wealth.
                  If you have no money, people will ignore you. Money gives status in the society. Always value
                  money and save it for future; for the time of your retirement or children’s education.
              </p>
              <p>
                  By saving money, it gives us better life and a source of
                  happiness in the future.
              </p>
          </div>
      </div>
  </div>
</section>

<!-- Section 2 -->
<section id="money_value" class="inner_section">
  <div class="container">
      <h2 class="section_title">Gmo food</h2>
      <div class="money_value_inner">
          <figure>
              <img src="img/Image-3.png" alt="" />
          </figure>
          <div class="money_detail">
              <p>
                  GMO stands for Genetically Modified Organisms. It is very
                  important topic these days in the agriculture and food industry all over the world. These are
                  the natural organisms that are use to grow crops.
              </p>
              <p>
                  GMO stands for Genetically Modified Organisms. It is very
                  important topic these days in the agriculture and food industry all over the world. These are
                  the natural organisms that are use to grow crops.
              </p>
              <p>
                  GMO crops are very resistant to disease, pests and bad
                  weather conditions like heavy rainfalls and winters. It produces their own pesticides, so no
                  chemicals are being used as
                  pesticides and it does not affect the environment too. The food has good nutritions in it like
                  vitamins. It has long life and so it saves us from the wastage.
              </p>
              <p>
                  GMO food should always be taken after doing long research and making sure whether it suits your
                  body and does not affect the ongoing disease in your body.
              </p>
          </div>
      </div>
  </div>
</section>

<!-- Section 3 -->
<section id="money_value" class="inner_section last-child">
  <div class="container">
      <h2 class="section_title">The view of world in 2100</h2>
      <div class="money_value_inner">
          <figure>
              <img src="img/Image-4.png" alt="" />
          </figure>
          <div class="money_detail">
              <p>
                  When we see us in the future world in 2100, we find many
                  challenges. The world depending full on AI (Artificial Intelligence). AI has changed the
                  industries, medical systems, day-to-day tasks, and many more. There would be global
                  warming which leads to climate concern but the only energy we as humans deend on artifical
                  intelligence. There would not be anything natural left.
              </p>
              <p>
                  The thought that there are humans staying in the Mars could be truth and people can travel from
                  one planet to another like they are travelling from one country to another. Travelling in rocket
                  would be a normal thing at that time.
              </p>
              <p>
                  The medical system would be so advanced that the life
                  expectancy of humans would be long. Online education can lead to higher literacy rate which
                  means more educated
                  people.Digitalization would lead to more cyber crime and people will know each other on some
                  social platform.
                  Travelling and visiting places would be digital and in 360 degree view.
              </p>
              <p>
                  Everyone would be like robots in 2100.
              </p>
          </div>
      </div>
  </div>
</section>
