<!-- Card Section -->
<section id="card_section">
  <div class="container">
      <h2 class="section_title">Portfolio</h2>
      <div class="card_section">
          <div class="card">
              <figure>
                  <img src="img/Image2.png" alt="">
              </figure>
              <p>Projrct 1</p>
          </div>
          <div class="card">
              <figure>
                  <img src="img/Image3.png" alt="">
              </figure>
              <p>Projrct 1</p>
          </div>
          <div class="card">
              <figure>
                  <img src="img/Image4.png" alt="">
              </figure>
              <p>Projrct 1</p>
          </div>
          <div class="card">
              <figure>
                  <img src="img/Image5.png" alt="">
              </figure>
              <p>Projrct 1</p>
          </div>
          <div class="card">
              <figure>
                  <img src="img/Image6.png" alt="">
              </figure>
              <p>Projrct 1</p>
          </div>
          <div class="card">
              <figure>
                  <img src="img/Image7.png" alt="">
              </figure>
              <p>Projrct 1</p>
          </div>
      </div>
  </div>
</section>
