@font-face {
    font-family: 'Cinzel';
    src: url('../font-awesome/Cinzel-Bold.otf') format('otf');
    font-weight: 300;
    font-family: 'Cinzel', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    max-width: 1500px;
    padding: 0 40px;
}

/* === Header === */

.logo {
    width: 400px;
}

.logo img {
    width: 100%;
    height: auto;
}

.header_inner button {
    background: transparent;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
}

.header_inner button {
    display: none;
}

.header_inner button svg {
    width: 30px;
    height: 30px;
}

.header_inner button:hover {
    background: #a80014;
    color: white;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 30px;
}

.header_inner ul li a {
    text-decoration: none;
    font-size: 20px;
    background: #686868;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px 20px;
    display: block;
    transition: all 0.4s;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header_inner ul li a:hover,
.header_inner ul li a.active {
    background: #a80014;
    color: #ffffff;
}

/* === Banner Section === */

.banner_inner {
    overflow: hidden;
}

#banner .banner_inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    overflow: unset;
    overflow-clip-margin: unset;
}

/* === Section === */

.inner_section .money_value_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.inner_section {
    margin-top: 80px;
}

.inner_section .money_value_inner {
    border-bottom: 1px solid red;
    padding-bottom: 50px;
}

/* .inner_section .money_value_inner{
    border-bottom: 0;
} */

.money_detail p {
    font-size: 20px;
    margin-bottom: 30px;
}

.inner_section .money_value_inner .money_detail {
    width: calc(100% - 400px);
}

.inner_section .money_value_inner figure {
    width: 400px;
}

.inner_section .money_value_inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 400px;
    max-height: 400px;
}

h2.section_title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #a80014;
    font-family: serif;
    text-transform: uppercase;
}

.last-child .money_value_inner {
    border-bottom: none;
}

/* === Footer === */

footer {
    background: #a80014;
    padding: 50px 0;
    color: white;
}

.footer_inner h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
    margin-bottom: 20px;
}

.footer_icon p,
.footer_inner p {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

.footer_icon p {
    margin-top: 0;
}

.footer_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.footer_icon .social_iocn .iocns svg {
    width: 40px;
    height: 40px;
    color: white;
    background: transparent;
    padding: 5px;
    transition: all 0.4s;
}

.footer_icon .social_iocn {
    display: flex;
    justify-content: end;
    align-items: stretch;
    gap: 20px;
}

.footer_icon .social_iocn .iocns:hover svg {
    border-radius: 10px;
    background: #ffffff;
    filter: drop-shadow(4px 4px 9px black);
}

.footer_inner p a {
    text-transform: none;
}

.footer_icon .social_iocn .facebook:hover svg {
    color: #1877F2;
}

.footer_icon .social_iocn .insta:hover svg {
    color: #E4405F;
}

.footer_icon .social_iocn .whastapp:hover svg {
    color: #25D366;
}

.footer_icon .social_iocn .linkedin:hover svg {
    color: #0A66C2;
}

/* === === Portfolio === === */

#card_section .card_section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

#card_section .card_section .card figure{
    text-align: center;
}

#card_section .card_section .card figure img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    max-width: 300px;
    max-height: 300px;
}

#card_section .card_section .card {
    width: 30%;
    margin-bottom: 50px;
}

#card_section .card_section .card p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

#card_section .section_title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: start;
    color: #a80014;
}

#card_section {
    margin-top: 80px;
}



@media (max-width:1280px) {
    .logo {
        width: 300px;
    }

    .header_inner ul li a {
        padding: 4px 12px;
    }

    .header_inner {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_inner ul {
        width: 100%;
    }

    .header_inner ul li {
        width: 48%;
        text-align: center;
    }

    .header_inner ul li a {
        padding: 10px 10px;
    }

    .inner_section .money_value_inner {
        display: block;
    }

    .inner_section .money_value_inner figure {
        width: 40%;
        margin-bottom: 20px;
        float: left;
        margin-right: 20px;
    }

    .inner_section .money_value_inner .money_detail {
        width: 100%;
    }

    .inner_section {
        margin-top: 40px;
    }

    #card_section .section_title {
        margin-bottom: 30px;
        text-align: center;
    }

    #card_section {
        margin-top: 50px;
    }

    #card_section .card_section .card {
        width: 48%;
    }

    .footer_icon .social_iocn .iocns svg {
        width: 30px;
        height: 30px;
    }

    .footer_icon .social_iocn {
        gap: 10px;
    }

    footer {
        padding: 30px 0;
    }
}

@media (max-width: 560px) {
    .container {
        max-width: 1500px;
        padding: 0 20px;
    }

    .header_inner button {
        display: flex;
    }

    ul.active {
        display: block;
    }

    .header_inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_inner ul {
        min-width: 100%;
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .header_inner ul li {
        margin-bottom: 10px;
    }

    .header_inner ul li a {
        font-size: 18px;
        padding: 10px 10px;
    }

    .logo {
        width: 70%;
    }

    .header_inner button {
        width: 10%;
    }

    #banner .banner_inner img {
        height: 200px;
    }

    h2.section_title {
        font-size: 30px;
    }

    .money_detail p {
        margin-bottom: 20px;
    }

    .inner_section .money_value_inner figure {
        width: 100%;
        margin-right: 0;
    }

    #card_section .card_section .card {
        width: 100%;
        margin-bottom: 30px;
    }

    #card_section .section_title {
        font-size: 30px;
    }

    .header_inner ul li {
        width: 100%;
        text-align: center;
    }

    .footer_inner h2 {
        font-size: 30px;
    }

    .footer_icon p,
    .footer_inner p {
        font-size: 16px;
    }

    .footer_icon {
        display: block;
    }

    .footer_icon .social_iocn {
        justify-content: space-evenly;
        margin-top: 20px;
    }
}